/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
:root {
  --primary-bg: #101010;
  --secondary-bg: #181818;
  --primary-text-color: #fcfcfc;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
    background: var(--primary-bg);
    color: var(--primary-text-color);
}
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.container{
    height: 100%;
}

.container-component{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
